nav{
    display: flex;
    flex-direction:column ;
}

nav a {
    display: flex;
    align-items: center;
    padding-left: 3vw;
    height: 10vh ;
    width: 100%;
    font-size: 30px;
    color: #fff;
}

nav a:hover{
    background-color: #4e4e4e;
}